<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
<<<<<<< HEAD
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
=======
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
>>>>>>> 7737c51d063b0f463808c6c2b7b14a58d829b621
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
